.DS_Store
xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM
.build/
build/
DerivedData/
.swiftpm/
*.xcresult
test-output.log
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
.claude
**/Secrets.swift
.env
.env.local